{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block page_content %}
<div class="page-header">
    <h1>Hello, manager!</h1>
</div>

{{ wtf.quick_form(form) }}

<br>
{% include "datacheck.html" %} 

{% if element %}
    <p>Here's your inventory:</p>
    <button onclick="copy( document.getElementById('inv_table') )">Copy table to clipboard</button>
    <table class="table table-bordered" style="max-width:20%;" id="inv_table">
        {% for i in element %}
        <tr>
            <td style="vertical-align: middle; text-align: center; {{ i[0] }} " >{{ i[1] }}</td>
            <td>{{ i[2] }}</td>
        </tr>
        {% endfor %}
{% endif %}
{% endblock %}
