{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block scripts %}
<script src="{{url_for('static', filename='copy_table.js')}}"></script>
{% endblock %}

{% block title %}PrUn Inventory Importer{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>Hello, trader!</h1>
</div>

{{ wtf.quick_form(form) }}

<br>

{% if element %}
    <p>Here's your inventory:</p>
    <button onclick="copy( document.getElementById('inv_table') )">Copy table to clipboard</button>
    <table class="table table-bordered" style="max-width:20%;" id="inv_table">
        {% for i in element %}
        <tr>
            <td style="vertical-align: middle; text-align: center; {{ i[0] }} " >{{ i[1] }}</td>
            <td>{{ i[2] }}</td>
        </tr>
        {% endfor %}
{% else %}
    {% if datacheck %}
    <p>No valid data found. Try again or <a href="tutorial">read the short tutorial</a>.</p>
    {% else %}
    <a href="tutorial">Read the short tutorial</a>
    {% endif %}
{% endif %}
{% endblock %}
