{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}PrUn Inventory Importer{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>Hello, manufacturer!</h1>
</div>

{{ wtf.quick_form(form) }}

<br>

{% include "datacheck.html" %}

{% if element %}
{% set e=element %}

    <h4>Here's the json string:</h4>
    {{ e.json }}
    <!--
    <h4>Here's the data:</h4>
    {{ e.data }}
    <h4>e.element</h4>
    {{ e.element }}
    -->
    {% for dic in e.element %}
    {% set id=dic.join(["'", "'"]) %}
    </br>
    <button onclick='copy( document.getElementById({{ id }}) )'>Copy {{ dic }} to clipboard</button>
    <table class="table table-bordered" style="max-width:20%;" id={{ dic }}>
        <th colspan="2" text-align="center">{{ dic }}</th>
        {% for i in e.element[dic] %}
        <tr>
            <td>{{ i }}</td>
            <td>{{ e.element[dic][i] }}</td>
        </tr>
        {% endfor %}
    </table>
    {% endfor %}

<!--
{#
    {% if e.prod["units"]==[] %}
        <p>Nothing's produced</p>

    {% else %}
            
            {% for pair in enumerate(e.prod["styles"], 0) %}
            <tr>
                <td style="vertical-align: middle; text-align: center; {{ e.prod["styles"][pair[0]] }} " >{{ e.prod["mats"][pair[0]] }}</td>
                <td>{{ e.prod["units"][pair[0]] }}</td>
                <td>{{ e.prod["timers"][pair[0]] }}</td>
            </tr>
            {% endfor %}

        </table>
    {% endif %}
    #}
-->
{% endif %}
{% endblock %}
