{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}PrUn Inventory Importer{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>Hello, trader!</h1>
</div>

{{ wtf.quick_form(form) }}

<br>

{% include "datacheck_market.html" %}

{% if element %}
{% set matrix=element.matrix %}
{% set m=matrix %}
    {{ wtf.quick_form(jsonstring) }}
    <button class="btn btn-info" onclick='copyField("jsonstring")'>Copy json string of all data to clipboard</button>
    <hr>

    <div>    
    <button class="btn btn-success" data-toggle="collapse" data-target="#screen-data">Show/hide table</button>
    <button class="btn btn-info" onclick='copy( document.getElementById("big_table") )'>Copy table to clipboard</button>
    <div class="pull-left collapse" id="screen-data" style="padding-top: 15px;">
    <table class="table table-bordered" style="min-width:20%;" id="big_table">
        <tr>
        {% for header in m[0] %}
		<th>{{ header }}</th>
	{% endfor %}
	</tr>	
    {% for mat in m[1:] %}
        <tr>
        {% for i in mat	%}
	{% if i == None %}
		<td></td>
	{% else %}
        	<td>{{ i }}</td>
	{% endif %}
	{% endfor %}
        </tr>
    {% endfor %}
    </table>
    </div>
    </div>
    
    <div style="padding-top: 10px;">
    <p><b>Tool</b>: Redirect to the Shipping Profits page to 
    <a href={{ link }} class="btn btn-warning">calculate shipping profit</a>
    based on this screen import.
    </p>
    </div>

{% endif %}
{% endblock %}
