{% extends "base.html" %}

{% block title %}PrUn Market Infos Data Importer Tutorial{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>How to get market data?</h1>
</div>
<div class="page-content">
    <p>First of all, create a SCREEN in the apex and add to it every infos buffers you like. Drag and drop or CMD: "CXP TICKER.CX_id" ("CXP DW.IC1", "CXP C.NC1", "CXP FF.CI1", ...)</br>
    Select the whole apex starting at <b>SCRNS</b> until the last buffer. Copy.</p>
    <img src="{{ url_for('static', filename='screen_market.png') }}" style="max-width: 100%; height: auto;">
    <p>Paste this in the textbox and submit. The text is beeing "regexed" so please don't format it...</p>
    <p>You should get a json string for all data ready to copy and one table per TICKER.CX :</p>
    <table class="table table-bordered" style="max-width:20%;">
        <th colspan="2">TICKER.CX</th>
        <tr>
            <td>label</td>
            <td>Data</td>
        </tr>
        <tr>
            <td>label_2</td>
            <td>Data_2</td>
        </tr>
    </table>
    <p>Example:</p>
        <button style="max-width: 20%;" onclick="copy( document.getElementById('EXO.IC1') )">Copy EXO.IC1 to clipboard</button>
    <table class="table table-bordered" style="max-width:20%;" id="DW.IC1">
        <tbody><tr><th colspan="2" text-align="center">DW.IC1</th>

            </tr><tr>
                <td>all_time_low</td>
                <td>31.00</td>
            </tr>

            <tr>
                <td>all_time_high</td>
                <td>75.00</td>
            </tr>

            <tr>
                <td>bid_amount</td>
                <td>40</td>
            </tr>

            <tr>
                <td>high</td>
                <td>57.99</td>
            </tr>

            <tr>
                <td>ask_amount</td>
                <td>652</td>
            </tr>

            <tr>
                <td>traded</td>
                <td>5,532</td>
            </tr>

            <tr>
                <td>ask</td>
                <td>49.97</td>
            </tr>

            <tr>
                <td>bid</td>
                <td>45.00</td>
            </tr>

            <tr>
                <td>ticker</td>
                <td>DW</td>
            </tr>

            <tr>
                <td>low</td>
                <td>41.01</td>
            </tr>

            <tr>
                <td>currency</td>
                <td>ICA</td>
            </tr>

            <tr>
                <td>cx</td>
                <td>IC1</td>
            </tr>

            <tr>
                <td>Last_Trade</td>
                <td>45.00</td>
            </tr>

            <tr>
                <td>average</td>
                <td>46.25</td>
            </tr>

            <tr>
                <td>volume</td>
                <td>249,414</td>
            </tr>

        </tbody></table>
    </br>
    <p>Planned changes:</p>
    <ul>
        <li>One button to copy tables</li>
        <li>The data in the tables is dynamically generated and therefore randomly ordered. Differs from time to time. (I have to understand why first...)</li>
        <li>Maybe change the data structure of the json string</li>
    </ul>
    <p>If something isn't working for you, if you have any bug, or if you have any comment, ping me on discord: @Halavus Nenuli#2483</p>
    <p>Happy VLOOKUP() !</p>
</div>
{% endblock %}
